/* ----- Containers ----- */
#display-poem-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: green;
    max-width: 100%;
}

#display-poem-content-container {
    text-align: left;
}

#download-btn-container,
#title-author-container {
    width: 100%;
    height: auto;
    background-color: red;
}

#download-btn-container {
    display: flex;
    flex-direction: row;
}

#download-btn,
#title,
#author {
    /* display: none; */
    font-weight: 900;
    background-color: rgba(255, 255, 255, 0);
    color:rgba(255, 255, 255, 0);
}

#download-btn {
    opacity: 0;
}

#download-btn img {
    width: 50px;
}

@keyframes fillProgress {
    0.0%{ 
    background-image: conic-gradient(#ffffff00 0.0%, #fff 0);
    }
    0.5%{ 
    background-image: conic-gradient(#ffffff00 0.5%, #fff 0);
    }
    1.0%{ 
    background-image: conic-gradient(#ffffff00 1.0%, #fff 0);
    }
    1.5%{ 
    background-image: conic-gradient(#ffffff00 1.5%, #fff 0);
    }
    2.0%{ 
    background-image: conic-gradient(#ffffff00 2.0%, #fff 0);
    }
    2.5%{ 
    background-image: conic-gradient(#ffffff00 2.5%, #fff 0);
    }
    3.0%{ 
    background-image: conic-gradient(#ffffff00 3.0%, #fff 0);
    }
    3.5%{ 
    background-image: conic-gradient(#ffffff00 3.5%, #fff 0);
    }
    4.0%{ 
    background-image: conic-gradient(#ffffff00 4.0%, #fff 0);
    }
    4.5%{ 
    background-image: conic-gradient(#ffffff00 4.5%, #fff 0);
    }
    5.0%{ 
    background-image: conic-gradient(#ffffff00 5.0%, #fff 0);
    }
    5.5%{ 
    background-image: conic-gradient(#ffffff00 5.5%, #fff 0);
    }
    6.0%{ 
    background-image: conic-gradient(#ffffff00 6.0%, #fff 0);
    }
    6.5%{ 
    background-image: conic-gradient(#ffffff00 6.5%, #fff 0);
    }
    7.0%{ 
    background-image: conic-gradient(#ffffff00 7.0%, #fff 0);
    }
    7.5%{ 
    background-image: conic-gradient(#ffffff00 7.5%, #fff 0);
    }
    8.0%{ 
    background-image: conic-gradient(#ffffff00 8.0%, #fff 0);
    }
    8.5%{ 
    background-image: conic-gradient(#ffffff00 8.5%, #fff 0);
    }
    9.0%{ 
    background-image: conic-gradient(#ffffff00 9.0%, #fff 0);
    }
    9.5%{ 
    background-image: conic-gradient(#ffffff00 9.5%, #fff 0);
    }
    10.0%{ 
    background-image: conic-gradient(#ffffff00 10.0%, #fff 0);
    }
    10.5%{ 
    background-image: conic-gradient(#ffffff00 10.5%, #fff 0);
    }
    11.0%{ 
    background-image: conic-gradient(#ffffff00 11.0%, #fff 0);
    }
    11.5%{ 
    background-image: conic-gradient(#ffffff00 11.5%, #fff 0);
    }
    12.0%{ 
    background-image: conic-gradient(#ffffff00 12.0%, #fff 0);
    }
    12.5%{ 
    background-image: conic-gradient(#ffffff00 12.5%, #fff 0);
    }
    13.0%{ 
    background-image: conic-gradient(#ffffff00 13.0%, #fff 0);
    }
    13.5%{ 
    background-image: conic-gradient(#ffffff00 13.5%, #fff 0);
    }
    14.0%{ 
    background-image: conic-gradient(#ffffff00 14.0%, #fff 0);
    }
    14.5%{ 
    background-image: conic-gradient(#ffffff00 14.5%, #fff 0);
    }
    15.0%{ 
    background-image: conic-gradient(#ffffff00 15.0%, #fff 0);
    }
    15.5%{ 
    background-image: conic-gradient(#ffffff00 15.5%, #fff 0);
    }
    16.0%{ 
    background-image: conic-gradient(#ffffff00 16.0%, #fff 0);
    }
    16.5%{ 
    background-image: conic-gradient(#ffffff00 16.5%, #fff 0);
    }
    17.0%{ 
    background-image: conic-gradient(#ffffff00 17.0%, #fff 0);
    }
    17.5%{ 
    background-image: conic-gradient(#ffffff00 17.5%, #fff 0);
    }
    18.0%{ 
    background-image: conic-gradient(#ffffff00 18.0%, #fff 0);
    }
    18.5%{ 
    background-image: conic-gradient(#ffffff00 18.5%, #fff 0);
    }
    19.0%{ 
    background-image: conic-gradient(#ffffff00 19.0%, #fff 0);
    }
    19.5%{ 
    background-image: conic-gradient(#ffffff00 19.5%, #fff 0);
    }
    20.0%{ 
    background-image: conic-gradient(#ffffff00 20.0%, #fff 0);
    }
    20.5%{ 
    background-image: conic-gradient(#ffffff00 20.5%, #fff 0);
    }
    21.0%{ 
    background-image: conic-gradient(#ffffff00 21.0%, #fff 0);
    }
    21.5%{ 
    background-image: conic-gradient(#ffffff00 21.5%, #fff 0);
    }
    22.0%{ 
    background-image: conic-gradient(#ffffff00 22.0%, #fff 0);
    }
    22.5%{ 
    background-image: conic-gradient(#ffffff00 22.5%, #fff 0);
    }
    23.0%{ 
    background-image: conic-gradient(#ffffff00 23.0%, #fff 0);
    }
    23.5%{ 
    background-image: conic-gradient(#ffffff00 23.5%, #fff 0);
    }
    24.0%{ 
    background-image: conic-gradient(#ffffff00 24.0%, #fff 0);
    }
    24.5%{ 
    background-image: conic-gradient(#ffffff00 24.5%, #fff 0);
    }
    25.0%{ 
    background-image: conic-gradient(#ffffff00 25.0%, #fff 0);
    }
    25.5%{ 
    background-image: conic-gradient(#ffffff00 25.5%, #fff 0);
    }
    26.0%{ 
    background-image: conic-gradient(#ffffff00 26.0%, #fff 0);
    }
    26.5%{ 
    background-image: conic-gradient(#ffffff00 26.5%, #fff 0);
    }
    27.0%{ 
    background-image: conic-gradient(#ffffff00 27.0%, #fff 0);
    }
    27.5%{ 
    background-image: conic-gradient(#ffffff00 27.5%, #fff 0);
    }
    28.0%{ 
    background-image: conic-gradient(#ffffff00 28.0%, #fff 0);
    }
    28.5%{ 
    background-image: conic-gradient(#ffffff00 28.5%, #fff 0);
    }
    29.0%{ 
    background-image: conic-gradient(#ffffff00 29.0%, #fff 0);
    }
    29.5%{ 
    background-image: conic-gradient(#ffffff00 29.5%, #fff 0);
    }
    30.0%{ 
    background-image: conic-gradient(#ffffff00 30.0%, #fff 0);
    }
    30.5%{ 
    background-image: conic-gradient(#ffffff00 30.5%, #fff 0);
    }
    31.0%{ 
    background-image: conic-gradient(#ffffff00 31.0%, #fff 0);
    }
    31.5%{ 
    background-image: conic-gradient(#ffffff00 31.5%, #fff 0);
    }
    32.0%{ 
    background-image: conic-gradient(#ffffff00 32.0%, #fff 0);
    }
    32.5%{ 
    background-image: conic-gradient(#ffffff00 32.5%, #fff 0);
    }
    33.0%{ 
    background-image: conic-gradient(#ffffff00 33.0%, #fff 0);
    }
    33.5%{ 
    background-image: conic-gradient(#ffffff00 33.5%, #fff 0);
    }
    34.0%{ 
    background-image: conic-gradient(#ffffff00 34.0%, #fff 0);
    }
    34.5%{ 
    background-image: conic-gradient(#ffffff00 34.5%, #fff 0);
    }
    35.0%{ 
    background-image: conic-gradient(#ffffff00 35.0%, #fff 0);
    }
    35.5%{ 
    background-image: conic-gradient(#ffffff00 35.5%, #fff 0);
    }
    36.0%{ 
    background-image: conic-gradient(#ffffff00 36.0%, #fff 0);
    }
    36.5%{ 
    background-image: conic-gradient(#ffffff00 36.5%, #fff 0);
    }
    37.0%{ 
    background-image: conic-gradient(#ffffff00 37.0%, #fff 0);
    }
    37.5%{ 
    background-image: conic-gradient(#ffffff00 37.5%, #fff 0);
    }
    38.0%{ 
    background-image: conic-gradient(#ffffff00 38.0%, #fff 0);
    }
    38.5%{ 
    background-image: conic-gradient(#ffffff00 38.5%, #fff 0);
    }
    39.0%{ 
    background-image: conic-gradient(#ffffff00 39.0%, #fff 0);
    }
    39.5%{ 
    background-image: conic-gradient(#ffffff00 39.5%, #fff 0);
    }
    40.0%{ 
    background-image: conic-gradient(#ffffff00 40.0%, #fff 0);
    }
    40.5%{ 
    background-image: conic-gradient(#ffffff00 40.5%, #fff 0);
    }
    41.0%{ 
    background-image: conic-gradient(#ffffff00 41.0%, #fff 0);
    }
    41.5%{ 
    background-image: conic-gradient(#ffffff00 41.5%, #fff 0);
    }
    42.0%{ 
    background-image: conic-gradient(#ffffff00 42.0%, #fff 0);
    }
    42.5%{ 
    background-image: conic-gradient(#ffffff00 42.5%, #fff 0);
    }
    43.0%{ 
    background-image: conic-gradient(#ffffff00 43.0%, #fff 0);
    }
    43.5%{ 
    background-image: conic-gradient(#ffffff00 43.5%, #fff 0);
    }
    44.0%{ 
    background-image: conic-gradient(#ffffff00 44.0%, #fff 0);
    }
    44.5%{ 
    background-image: conic-gradient(#ffffff00 44.5%, #fff 0);
    }
    45.0%{ 
    background-image: conic-gradient(#ffffff00 45.0%, #fff 0);
    }
    45.5%{ 
    background-image: conic-gradient(#ffffff00 45.5%, #fff 0);
    }
    46.0%{ 
    background-image: conic-gradient(#ffffff00 46.0%, #fff 0);
    }
    46.5%{ 
    background-image: conic-gradient(#ffffff00 46.5%, #fff 0);
    }
    47.0%{ 
    background-image: conic-gradient(#ffffff00 47.0%, #fff 0);
    }
    47.5%{ 
    background-image: conic-gradient(#ffffff00 47.5%, #fff 0);
    }
    48.0%{ 
    background-image: conic-gradient(#ffffff00 48.0%, #fff 0);
    }
    48.5%{ 
    background-image: conic-gradient(#ffffff00 48.5%, #fff 0);
    }
    49.0%{ 
    background-image: conic-gradient(#ffffff00 49.0%, #fff 0);
    }
    49.5%{ 
    background-image: conic-gradient(#ffffff00 49.5%, #fff 0);
    }
    50.0%{ 
    background-image: conic-gradient(#ffffff00 50.0%, #fff 0);
    }
    50.5%{ 
    background-image: conic-gradient(#ffffff00 50.5%, #fff 0);
    }
    51.0%{ 
    background-image: conic-gradient(#ffffff00 51.0%, #fff 0);
    }
    51.5%{ 
    background-image: conic-gradient(#ffffff00 51.5%, #fff 0);
    }
    52.0%{ 
    background-image: conic-gradient(#ffffff00 52.0%, #fff 0);
    }
    52.5%{ 
    background-image: conic-gradient(#ffffff00 52.5%, #fff 0);
    }
    53.0%{ 
    background-image: conic-gradient(#ffffff00 53.0%, #fff 0);
    }
    53.5%{ 
    background-image: conic-gradient(#ffffff00 53.5%, #fff 0);
    }
    54.0%{ 
    background-image: conic-gradient(#ffffff00 54.0%, #fff 0);
    }
    54.5%{ 
    background-image: conic-gradient(#ffffff00 54.5%, #fff 0);
    }
    55.0%{ 
    background-image: conic-gradient(#ffffff00 55.0%, #fff 0);
    }
    55.5%{ 
    background-image: conic-gradient(#ffffff00 55.5%, #fff 0);
    }
    56.0%{ 
    background-image: conic-gradient(#ffffff00 56.0%, #fff 0);
    }
    56.5%{ 
    background-image: conic-gradient(#ffffff00 56.5%, #fff 0);
    }
    57.0%{ 
    background-image: conic-gradient(#ffffff00 57.0%, #fff 0);
    }
    57.5%{ 
    background-image: conic-gradient(#ffffff00 57.5%, #fff 0);
    }
    58.0%{ 
    background-image: conic-gradient(#ffffff00 58.0%, #fff 0);
    }
    58.5%{ 
    background-image: conic-gradient(#ffffff00 58.5%, #fff 0);
    }
    59.0%{ 
    background-image: conic-gradient(#ffffff00 59.0%, #fff 0);
    }
    59.5%{ 
    background-image: conic-gradient(#ffffff00 59.5%, #fff 0);
    }
    60.0%{ 
    background-image: conic-gradient(#ffffff00 60.0%, #fff 0);
    }
    60.5%{ 
    background-image: conic-gradient(#ffffff00 60.5%, #fff 0);
    }
    61.0%{ 
    background-image: conic-gradient(#ffffff00 61.0%, #fff 0);
    }
    61.5%{ 
    background-image: conic-gradient(#ffffff00 61.5%, #fff 0);
    }
    62.0%{ 
    background-image: conic-gradient(#ffffff00 62.0%, #fff 0);
    }
    62.5%{ 
    background-image: conic-gradient(#ffffff00 62.5%, #fff 0);
    }
    63.0%{ 
    background-image: conic-gradient(#ffffff00 63.0%, #fff 0);
    }
    63.5%{ 
    background-image: conic-gradient(#ffffff00 63.5%, #fff 0);
    }
    64.0%{ 
    background-image: conic-gradient(#ffffff00 64.0%, #fff 0);
    }
    64.5%{ 
    background-image: conic-gradient(#ffffff00 64.5%, #fff 0);
    }
    65.0%{ 
    background-image: conic-gradient(#ffffff00 65.0%, #fff 0);
    }
    65.5%{ 
    background-image: conic-gradient(#ffffff00 65.5%, #fff 0);
    }
    66.0%{ 
    background-image: conic-gradient(#ffffff00 66.0%, #fff 0);
    }
    66.5%{ 
    background-image: conic-gradient(#ffffff00 66.5%, #fff 0);
    }
    67.0%{ 
    background-image: conic-gradient(#ffffff00 67.0%, #fff 0);
    }
    67.5%{ 
    background-image: conic-gradient(#ffffff00 67.5%, #fff 0);
    }
    68.0%{ 
    background-image: conic-gradient(#ffffff00 68.0%, #fff 0);
    }
    68.5%{ 
    background-image: conic-gradient(#ffffff00 68.5%, #fff 0);
    }
    69.0%{ 
    background-image: conic-gradient(#ffffff00 69.0%, #fff 0);
    }
    69.5%{ 
    background-image: conic-gradient(#ffffff00 69.5%, #fff 0);
    }
    70.0%{ 
    background-image: conic-gradient(#ffffff00 70.0%, #fff 0);
    }
    70.5%{ 
    background-image: conic-gradient(#ffffff00 70.5%, #fff 0);
    }
    71.0%{ 
    background-image: conic-gradient(#ffffff00 71.0%, #fff 0);
    }
    71.5%{ 
    background-image: conic-gradient(#ffffff00 71.5%, #fff 0);
    }
    72.0%{ 
    background-image: conic-gradient(#ffffff00 72.0%, #fff 0);
    }
    72.5%{ 
    background-image: conic-gradient(#ffffff00 72.5%, #fff 0);
    }
    73.0%{ 
    background-image: conic-gradient(#ffffff00 73.0%, #fff 0);
    }
    73.5%{ 
    background-image: conic-gradient(#ffffff00 73.5%, #fff 0);
    }
    74.0%{ 
    background-image: conic-gradient(#ffffff00 74.0%, #fff 0);
    }
    74.5%{ 
    background-image: conic-gradient(#ffffff00 74.5%, #fff 0);
    }
    75.0%{ 
    background-image: conic-gradient(#ffffff00 75.0%, #fff 0);
    }
    75.5%{ 
    background-image: conic-gradient(#ffffff00 75.5%, #fff 0);
    }
    76.0%{ 
    background-image: conic-gradient(#ffffff00 76.0%, #fff 0);
    }
    76.5%{ 
    background-image: conic-gradient(#ffffff00 76.5%, #fff 0);
    }
    77.0%{ 
    background-image: conic-gradient(#ffffff00 77.0%, #fff 0);
    }
    77.5%{ 
    background-image: conic-gradient(#ffffff00 77.5%, #fff 0);
    }
    78.0%{ 
    background-image: conic-gradient(#ffffff00 78.0%, #fff 0);
    }
    78.5%{ 
    background-image: conic-gradient(#ffffff00 78.5%, #fff 0);
    }
    79.0%{ 
    background-image: conic-gradient(#ffffff00 79.0%, #fff 0);
    }
    79.5%{ 
    background-image: conic-gradient(#ffffff00 79.5%, #fff 0);
    }
    80.0%{ 
    background-image: conic-gradient(#ffffff00 80.0%, #fff 0);
    }
    80.5%{ 
    background-image: conic-gradient(#ffffff00 80.5%, #fff 0);
    }
    81.0%{ 
    background-image: conic-gradient(#ffffff00 81.0%, #fff 0);
    }
    81.5%{ 
    background-image: conic-gradient(#ffffff00 81.5%, #fff 0);
    }
    82.0%{ 
    background-image: conic-gradient(#ffffff00 82.0%, #fff 0);
    }
    82.5%{ 
    background-image: conic-gradient(#ffffff00 82.5%, #fff 0);
    }
    83.0%{ 
    background-image: conic-gradient(#ffffff00 83.0%, #fff 0);
    }
    83.5%{ 
    background-image: conic-gradient(#ffffff00 83.5%, #fff 0);
    }
    84.0%{ 
    background-image: conic-gradient(#ffffff00 84.0%, #fff 0);
    }
    84.5%{ 
    background-image: conic-gradient(#ffffff00 84.5%, #fff 0);
    }
    85.0%{ 
    background-image: conic-gradient(#ffffff00 85.0%, #fff 0);
    }
    85.5%{ 
    background-image: conic-gradient(#ffffff00 85.5%, #fff 0);
    }
    86.0%{ 
    background-image: conic-gradient(#ffffff00 86.0%, #fff 0);
    }
    86.5%{ 
    background-image: conic-gradient(#ffffff00 86.5%, #fff 0);
    }
    87.0%{ 
    background-image: conic-gradient(#ffffff00 87.0%, #fff 0);
    }
    87.5%{ 
    background-image: conic-gradient(#ffffff00 87.5%, #fff 0);
    }
    88.0%{ 
    background-image: conic-gradient(#ffffff00 88.0%, #fff 0);
    }
    88.5%{ 
    background-image: conic-gradient(#ffffff00 88.5%, #fff 0);
    }
    89.0%{ 
    background-image: conic-gradient(#ffffff00 89.0%, #fff 0);
    }
    89.5%{ 
    background-image: conic-gradient(#ffffff00 89.5%, #fff 0);
    }
    90.0%{ 
    background-image: conic-gradient(#ffffff00 90.0%, #fff 0);
    }
    90.5%{ 
    background-image: conic-gradient(#ffffff00 90.5%, #fff 0);
    }
    91.0%{ 
    background-image: conic-gradient(#ffffff00 91.0%, #fff 0);
    }
    91.5%{ 
    background-image: conic-gradient(#ffffff00 91.5%, #fff 0);
    }
    92.0%{ 
    background-image: conic-gradient(#ffffff00 92.0%, #fff 0);
    }
    92.5%{ 
    background-image: conic-gradient(#ffffff00 92.5%, #fff 0);
    }
    93.0%{ 
    background-image: conic-gradient(#ffffff00 93.0%, #fff 0);
    }
    93.5%{ 
    background-image: conic-gradient(#ffffff00 93.5%, #fff 0);
    }
    94.0%{ 
    background-image: conic-gradient(#ffffff00 94.0%, #fff 0);
    }
    94.5%{ 
    background-image: conic-gradient(#ffffff00 94.5%, #fff 0);
    }
    95.0%{ 
    background-image: conic-gradient(#ffffff00 95.0%, #fff 0);
    }
    95.5%{ 
    background-image: conic-gradient(#ffffff00 95.5%, #fff 0);
    }
    96.0%{ 
    background-image: conic-gradient(#ffffff00 96.0%, #fff 0);
    }
    96.5%{ 
    background-image: conic-gradient(#ffffff00 96.5%, #fff 0);
    }
    97.0%{ 
    background-image: conic-gradient(#ffffff00 97.0%, #fff 0);
    }
    97.5%{ 
    background-image: conic-gradient(#ffffff00 97.5%, #fff 0);
    }
    98.0%{ 
    background-image: conic-gradient(#ffffff00 98.0%, #fff 0);
    }
    98.5%{ 
    background-image: conic-gradient(#ffffff00 98.5%, #fff 0);
    }
    99.0%{ 
    background-image: conic-gradient(#ffffff00 99.0%, #fff 0);
    }
    99.5%{ 
    background-image: conic-gradient(#ffffff00 99.5%, #fff 0);
    }
    100.0%{ 
    background-image: conic-gradient(#ffffff00 100.0%, #fff 0);
    }        
}

@media only screen and (min-width: 375px) and (max-width: 767px) { 
    #display-poem,
    #title,
    #author {
        font-size: 0.85em;
    }

    #download-btn img {
        width: 30px;
    }
}